.totals {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 20px;
}

.totals > * {
  margin: 0;
}
.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-left: 15px;
}

.totals__subtotal-value {
  font-size: 22px;
  color: var(--color-base-text);
}
.totals__subtotal{
  font-size: 16px;
}
.cart__ctas + .totals {
  margin-top: 2rem;
}
